<a href="https://colab.research.google.com/github/arthurpham/google_colab/blob/main/YahooFinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install yfinance

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.70)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.27.1)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.11)

In [17]:
import yfinance as yf
import pprint as pp

In [18]:
asset = yf.Ticker("^SPX")
pp.pprint(asset.info)

{'algorithm': None,
 'ask': 4485.26,
 'askSize': 0,
 'averageDailyVolume10Day': None,
 'averageVolume': None,
 'averageVolume10days': None,
 'beta': None,
 'bid': 4483,
 'bidSize': 0,
 'circulatingSupply': None,
 'currency': 'USD',
 'dayHigh': 4526.33,
 'dayLow': 4480.03,
 'dividendRate': None,
 'dividendYield': None,
 'exDividendDate': None,
 'exchange': 'WCB',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'expireDate': None,
 'fiftyDayAverage': None,
 'fiftyTwoWeekHigh': 4526.33,
 'fiftyTwoWeekLow': 4480.03,
 'fiveYearAvgDividendYield': None,
 'forwardPE': None,
 'fromCurrency': None,
 'gmtOffSetMilliseconds': '-18000000',
 'isEsgPopulated': False,
 'lastMarket': None,
 'logo_url': '',
 'market': 'us_market',
 'marketCap': None,
 'maxAge': 1,
 'maxSupply': None,
 'navPrice': None,
 'open': 4506.27,
 'openInterest': None,
 'payoutRatio': None,
 'preMarketPrice': None,
 'previousClose': 4504.08,
 'priceHint': 2,
 'priceToSalesTrailing12Months': None,
 'quoteType': 'INDEX',
 'regularMarketDayHigh': 4526.33,
 'regularMarketDayLow': 4480.03,
 'regularMarketOpen': 4506.27,
 'regularMarketPreviousClose': 4504.08,
 'regularMarketPrice': 4484.58,
 'regularMarketVolume': 871946085,
 'shortName': 'S&P 500 INDEX',
 'startDate': None,
 'strikePrice': None,
 'symbol': '^SPX',
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': None,
 'trailingAnnualDividendYield': None,
 'twoHundredDayAverage': None,
 'underlyingSymbol': '^GSPC',
 'volume': 871946085,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'yield': None,
 'ytdReturn': None}

In [30]:
expirations = asset.options
pp.pprint(expirations)

('2022-02-11',
 '2022-02-14',
 '2022-02-16',
 '2022-02-18',
 '2022-02-22',
 '2022-02-23',
 '2022-02-25',
 '2022-02-28',
 '2022-03-02',
 '2022-03-04',
 '2022-03-07',
 '2022-03-11',
 '2022-03-18',
 '2022-03-25',
 '2022-03-31',
 '2022-04-14',
 '2022-04-29',
 '2022-05-20',
 '2022-05-31',
 '2022-06-17',
 '2022-06-30',
 '2022-07-15',
 '2022-07-29',
 '2022-08-19',
 '2022-09-16',
 '2022-09-30',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2022-12-30',
 '2023-01-20',
 '2023-02-17',
 '2023-03-17',
 '2023-06-16',
 '2023-12-15',
 '2024-12-20',
 '2025-12-19',
 '2026-03-20',
 '2026-12-18')

In [19]:
option_df = asset.option_chain()

In [20]:
option_df.calls.columns

Index(['contractSymbol', 'lastTradeDate', 'strike', 'lastPrice', 'bid', 'ask',
       'change', 'percentChange', 'volume', 'openInterest',
       'impliedVolatility', 'inTheMoney', 'contractSize', 'currency'],
      dtype='object')

In [21]:
option_df.calls.head()

        contractSymbol             lastTradeDate  ...  contractSize  currency
0  SPXW220211C03600000 2022-01-04 17:53:34+00:00  ...       REGULAR       USD
1  SPXW220211C03700000 2022-01-25 17:56:55+00:00  ...       REGULAR       USD
2  SPXW220211C03800000 2022-02-02 20:18:55+00:00  ...       REGULAR       USD
3  SPXW220211C03840000 2022-02-09 17:46:11+00:00  ...       REGULAR       USD
4  SPXW220211C03850000 2022-02-04 18:06:59+00:00  ...       REGULAR       USD

[5 rows x 14 columns]

In [22]:
option_df.calls.describe()

            strike    lastPrice  ...  openInterest  impliedVolatility
count   198.000000   198.000000  ...    198.000000         198.000000
mean   4578.257576   113.108535  ...    811.247475           0.479030
std     367.232923   188.953813  ...   1955.815546           0.366501
min    3600.000000     0.010000  ...      0.000000           0.000010
25%    4321.250000     0.050000  ...      1.000000           0.219002
50%    4567.500000     0.350000  ...     95.000000           0.407232
75%    4813.750000   199.725000  ...    591.000000           0.623051
max    5700.000000  1187.400000  ...  15315.000000           2.954715

[8 rows x 9 columns]

In [23]:
option_df.puts.columns

Index(['contractSymbol', 'lastTradeDate', 'strike', 'lastPrice', 'bid', 'ask',
       'change', 'percentChange', 'volume', 'openInterest',
       'impliedVolatility', 'inTheMoney', 'contractSize', 'currency'],
      dtype='object')

In [24]:
option_df.puts.head()

        contractSymbol             lastTradeDate  ...  contractSize  currency
0  SPXW220211P01000000 2022-02-04 16:06:07+00:00  ...       REGULAR       USD
1  SPXW220211P01200000 2022-01-27 18:01:29+00:00  ...       REGULAR       USD
2  SPXW220211P01400000 2022-01-24 17:58:58+00:00  ...       REGULAR       USD
3  SPXW220211P01600000 2022-01-28 21:09:32+00:00  ...       REGULAR       USD
4  SPXW220211P01800000 2022-01-28 16:11:03+00:00  ...       REGULAR       USD

[5 rows x 14 columns]

In [25]:
option_df.puts.describe()

            strike   lastPrice  ...  openInterest  impliedVolatility
count   262.000000  262.000000  ...    262.000000         262.000000
mean   4186.603053   78.456374  ...   1598.774809           0.773666
std     686.170663  137.105193  ...   2847.628987           0.936769
min    1000.000000    0.050000  ...      0.000000           0.000010
25%    3976.250000    0.050000  ...      5.500000           0.314063
50%    4307.500000    0.200000  ...    325.000000           0.553380
75%    4633.750000  132.700000  ...   1683.000000           0.815309
max    5250.000000  875.970000  ...  20487.000000           7.812500

[8 rows x 9 columns]